#medcarnival_container header h2{
    color:white;
    text-align: center;
    margin:5% auto;
    
}
#medcarnival_container img{
    width:100%;
    border-radius: 5px;
}
#medcarnival_container  section{
    
    
}
#medcarnival_container  section p{
    padding:10px;
    border-radius: 5px;
    color:rgb(183, 183, 183);
}
#medcarnival_container  section ol{
    list-style-type: disc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#medcarnival_container  section ol li{
    display: inline;
    margin:2% 0%;
    padding:10px 15px;
    width: fit-content;
    color:rgb(43, 43, 43);
    font-weight: 800;
    border-radius: 5px;
    
    background:linear-gradient(rgb(220, 220, 220),white);
}